/* .navbar {
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar span {
  font-size: 3rem;
  color: white;
  font-weight: 500;
}
.nav__links img {
  height: 20px;
  display: none;
}
.nav__ul {
  display: flex;
  gap: 30px;
}
.nav__ul li {
  font-size: 1rem;
  font-weight: 500;
}
.nav__ul li a {
  color: white;
}
.nav__ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: linear 0.3s;
}
.nav__ul li:hover::after {
  width: 100%;
}


@media screen and (max-width: 425px) {
  .nav__ul {
    display: none;
  }
} */
:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 4rem;
  background-color: #0f1711;
  color: var(--textColor);
}
header h3 {
  font-size: 2rem;
}
nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  header .nav-btn {
    display: block;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
