.faqs__section {
  margin-top: 50px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #53ff53;
}
.faqs {
  max-width: 1400px;
  margin-top: 3rem;
  margin-inline: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  row-gap: 30px;
  /* column-gap: 100px; */
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.faq-card {
  width: 600px;
  height: 220px;
  background-color: #53ff53;
  border: 6px dashed #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  justify-content: center;
}
.faq-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline 2px;
  color: black;
}
.faq-card p {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
@media screen and (max-width: 1024px) {
  .faqs {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .faqs {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 425px) {
  .faqs {
    grid-template-columns: 1fr;
  }
  .faq-card {
    width: 360px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 30px;
  }
  .faq-card p {
    font-size: 0.8rem;
  }
}
