.footer__container {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 40px;
  gap: 30px;
  align-items: center;
}
.middle__div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.right__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  text-align: center;
}
.footer_icons {
  display: flex;
  gap: 5px;
}
.footer_icons img {
  height: 30px;
}
@media screen and (max-width: 425px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
  }
  .left__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left__div > p {
    text-align: center;
  }
  .middle__div {
    text-align: center;
  }
  .right__div {
    text-align: center;
  }
}
